# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# datasets
datasets/
*.csv

# report outputs
outputs/
*.html
*.csv

# conda / environments
.env
.venv/
env/
ENV/
*.conda

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# logs
logs/
*.log